<md-card>
    <md-card-title>

        <div layout="row" style="width:100%">

            <div flex="100" >
                <select-page sp-obj="selectPage" input-list="inputList" select-list="selectList"></select-page>
            </div>
        </div>


        <!--<md-table-pagination flex="1" md-page="selectPage.nowPage"  md-limit="pagination.query.limit"-->
        <!--md-total="@{{ selectPage.total }}"  md-limit-options="pagination.limitOptions"-->
        <!--md-boundary-links="true" md-page-select="true" md-on-paginate="onPagination">-->
        <!--</md-table-pagination>-->


    </md-card-title>
    <md-card-content>
        图片
        详细链接
        各种信息
    </md-card-content>
</md-card>
